Source: libsfml2
Section: video
Priority: optional
Maintainer: André Gillibert <MetaEntropy@gmail.com>
Build-Depends: debhelper (>= 8.0.0), pkg-config, cmake, unzip,
  libx11-dev, libxrandr-dev, libjpeg-dev,
  libopenal-dev, libsndfile1-dev,
  libfreetype6-dev, libfontconfig1-dev,
  mesa-common-dev,
  libgl1-mesa-dev, libglew1.6-dev
Standards-Version: 3.9.2
Homepage: http://sfml-dev.org/

Package: libsfml2-static
Architecture: any
Depends: libx11-6, libxrandr2, libopenal1, libsndfile1,
  libfreetype6, libfontconfig1, libgl1-mesa-glx,
  libx11-dev, libxrandr-dev, libjpeg-dev,
  libopenal-dev, libsndfile1-dev,
  libfreetype6-dev, libfontconfig1-dev,
  mesa-common-dev,
  libgl1-mesa-dev, libglew1.6-dev,
  ${misc:Depends}
Description: SFML2 framework static libraries
 SFML provides a multi-platform C++ 2D gaming and multimedia framework based on OpenGL and OpenAL. It is composed of five modules: system, window, graphics, audio and network.
