#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1

#include /usr/share/cdbs/1/rules/debhelper.mk

version=2.1
major=2

CFLAGS=-O2
MAKEFLAGS=-j2

%:
	dh $@

override_dh_auto_build:
	dh_testdir
	[ -d "SFML-2.1" ] || unzip SFML-2.1-sources.zip
	(cd SFML-2.1;patch -p1 < ../debian/sfml2-andre-static-dependencies.patch)
	(cd SFML-2.1;cmake . -DCMAKE_INSTALL_PREFIX=/usr -DBUILD_SHARED_LIBS=false; make -j2)
	touch $@

override_dh_auto_install: override_dh_auto_build
	dh_auto_install --destdir=debian/libsfml2-static --sourcedir=SFML-2.1
	mkdir -p debian/libsfml2-static/usr/lib/pkgconfig
	cp -f debian/sfml2-static.pc debian/libsfml2-static/usr/lib/pkgconfig
	(cd debian/libsfml2-static/usr/include;mkdir SFML-static-2.0;mv SFML SFML-static-2.0)
	(cd debian/libsfml2-static/usr/share && rm -rf SFML && rm -rf doc)

clean::
	[ -d "SFML-2.1" ] && rm -rf "SFML-2.1" || true
	[ -e override_dh_auto_build ] && rm -f override_dh_auto_build || true
	dh clean
